.flex-container{
    max-width: 1000px;
    height: 600px;
    margin: auto;
    background-color: aquamarine;
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    gap: 40px;   
    /* overflow: hidden; */
    /* overflow-y: hidden; */
}
.item{
    width: 200px; 
    height: 100px;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}
.item-1{
    background-color: blue;
    order: 3;
    /* flex-shrink: 0; */
    /* flex-grow: 1; */
    /* flex-basis: 300px; */
}
.item-2{
    background-color: purple;
    order: 1;
    /* flex-shrink: 0; */
    /* flex-grow: 1; */
}
.item-3{
    background-color: green;
    order: 2;
    /* align-self: flex-end; */
}
.head{
    padding: 30px 10px;
    margin-top: 20px;
    max-width: 400px;
    height: 300px;
    background-color: chartreuse;
    /* overflow-x: hidden; */
    box-sizing: border-box;
    /* overflow-y: hidden; */
    overflow: scroll;
}
h2{
    width: 500px;
}