*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;
}
.header-container{
    max-width: 1500px;
    height: 2230px;
    margin: auto;
    background-color: cornsilk;
}
.header-content{
    padding: 30px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo h2{
    font-size: 40px;
}
.navigation{
    display: flex;
    gap: 30px;
}
.navigation a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.btn-primary a{
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 10px;
}

.hero-section{
    margin-top: 10px;
    text-align: center;
}
.logo img, .logo h2, .logo p{
    margin: 20px 0;
}
.logo p, .para{
    color: #777777;
    font-size: 20px;
}
.logo a, .btn-pri{
    text-decoration: none;
    color: white;
    background-color: #878CFF;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}

.middle-section{
    margin-top: 90px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color:aliceblue;
    height: 450px;
}
.pic img{
    border-radius: 10px;
}
.about h2, .about p, .about a{
    margin: 20px;
}

.sec h2{
    text-align: center;
    margin: 60px 0;
    font-size: 40px;
}
.work-section{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.work1 img, .work2 img, .work3 img{
    border-radius: 10px;
}
.work1 p, .work2 p, .work3 p{
    margin: 20px 0;
    color: #777777;
}
.work1 a, .work2 a, .work3 a{
    color:#878CFF;
}

.heading{
    margin: 50px 40px;
    font-size: 40px;
}
.featured{
    display: flex;
    justify-content: space-around;
}
.feature-1, .feature-2{
    border: 1px solid #E2E2E2;
    max-width: 488px;
    height: 350px;
}
.feature-1 h2, .feature-2 h2{
    margin-top: 20px;
    font-size: 30px;
}
.feature-1 p, .feature-2 p{
    margin-top: 20px;
    font-size: 18px;
    color: #777777;
}
.feature-1 a, .feature-2 a{
    margin: 
    font-size: 18px;
    color: #878CFF;
}