*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
img{
    width: 100%;
}

.container{
    max-width: 800px;
    margin: 20px auto;
}
.container h1{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: blueviolet;
}
.range-rover-section{
    margin-top: 30px;
    background-color: antiquewhite;
    padding: 20px 30px;
}
.range-rover-section h2{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    color: rgb(34, 66, 2);
}
.range-rover-section p{
    padding: 20px 0;
    font-size: 20px;
    color: crimson;
}
.range-rover-section a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 8px 20px;
    border-radius: 9px;
}
.range-rover-section{
    position: relative;
}
.btn::after{
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    right: 40px;
    bottom: 10px;
    background-image: url("https://cdn.dribbble.com/users/2374064/screenshots/4732016/car-jump.gif");
    background-size: cover;
}