
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    --kau-font: "Kaushan Script", cursive;
    --pop-font: "Poppins", sans-serif;
}
body{
    font-family: var(--pop-font);
}
nav ul{
    display: flex;
    gap: 30px;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    background-color:cornsilk;
}
.header-section{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo h1::first-letter{
    font-size: 90px;
    font-weight: 800;
    font-family: var(--kau-font);
    color: rgb(155, 5, 55)
}
.logo h1{
    font-size: 30px;
    color: rgb(90, 3, 3);
}
nav ul li a{
    font-size: 30px;
    font-family: var(--kau-font);
    font-weight: 500;
    color: crimson;
}
nav{
    margin-right: 40px;
}
.btn-call{
    font-size: 30px;
    font-family: var(--kau-font);
    font-weight: 500;
    color: azure;
    background-color: rgb(148, 4, 4);
    padding: 12px 25px;
    border-radius: 10px;
}


.hero-1{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-bottom: 20px;
}
.hero-1-left{
    flex-basis: 100%;
    margin-left: 200px;
}
.hero-1-right{
    flex-basis: 100%;
}
.hero-1-left h2{
    font-size: 40px;
    font-family: var(--kau-font);
    color: deeppink;
    margin-bottom: 80px;
}
.hero-1-left p{
    font-size: 30px;
    font-family: var(--kau-font);
    color: rgb(99, 4, 54);
    margin-bottom: 60px;
}
.hero-1-left a{
    font-size: 30px;
    font-family: var(--kau-font);
    color: white;
    background-color: darkred;
    padding: 6px 25px;
    border-radius: 10px;
}
.hero-1-right img{
    border-radius: 10px;
}


.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
.hero-2{
    background-color: rgb(247, 235, 220);
    padding: 40px 0;
}
.hero-2-up{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.up h2{
    margin: 30px 0;
    font-size: 30px;
    font-family: var(--kau-font);
    color: crimson;
}
.up p{
    font-size: 20px;
    font-family: var(--kau-font);
    color:deeppink;
}
.up img{
    border-radius: 10px;
}


.hero-2-down{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
}
.down h2{
    margin: 30px 0;
    font-size: 30px;
    font-family: var(--kau-font);
    color: rgb(106, 20, 3);
}
.down p{
    font-size: 20px;
    font-family: var(--kau-font);
    color:rgb(255, 20, 20);
}
.hero-2-down img{
    border-radius: 10px;
}