@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    --quick: "Quicksand", sans-serif;
    --poppins: "Poppins", sans-serif;
    --pacifico: "Pacifico", cursive;

    font-size: 10px;
}
img{
    max-width: 100%;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}


.container{
    max-width: 1900px;
    margin: 0 auto;
}
.header-section{
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 3rem;
}
nav ul li a{
    font-size: 1.8rem;
    font-family: var(--poppins);
    color: black;
}
.home{
    color: #f5a69f;
}
.btn-grp{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.btn-buy, .btn-view{
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: var(--poppins);
    padding: 1.2rem 2rem;
    background-color: #8ed081;
    color: white;
    border-radius: 0.8rem;
}

.header-sec{
    margin-top: 2rem;
    height: 600px;
}
.hero-1{
    margin: 3rem 0;
}
.hero-up{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.hero-up p, .hero-up h4{
    text-align: center;
}
.hero-up p{
    margin-top: 2rem;
    font-size: 1.8rem;
    font-family: var(--poppins);
    color: #433840;
}
.hero-up h4{
    font-size: 3rem;
    font-family: var(--pacifico);
    color: #8ed081;
    margin-bottom: 3rem;
}
.hero-down{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.hero-down p, .hero-down h4{
    text-align: center;
}
.hero-down p{
    margin-top: 2rem;
    font-size: 1.8rem;
    font-family: var(--poppins);
    color: #433840;
}
.hero-down h4{
    font-size: 3rem;
    font-family: var(--pacifico);
    color: #8ed081;
    margin-bottom: 3rem;
}